@model DesafioPedido.Application.DTOs.ClienteDTO

<div class="card" style="max-width: 500px;">
    <div class="card-header">
        <h4>Editar Cliente</h4>
    </div>
    <div class="card-body">
        <form asp-action="Edit" method="post">
            
            <input type="hidden" asp-for="ClienteId" />

            <div class="mb-3">
                <label asp-for="Nome" class="form-label">Nome</label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Email" class="form-label">Email</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Telefone" class="form-label">Telefone</label>
                <input asp-for="Telefone" class="form-control" />
                <span asp-validation-for="Telefone" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary">Salvar</button>
            <a asp-action="Index" class="btn btn-secondary">Cancelar</a>

        </form>
    </div>
</div>